* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 320px){
    nav {
        display: block;
        text-align: center;
        padding: 0;
        width: 100vw;
    } 
    
    .navbar ul li a{
        text-decoration: none;
        color: white
    }

    .navbar ul li {
        padding: 5px;
        background-color:#808090;
        border: 1px solid black;
    }

    .navbar ul li:nth-child(odd){
        background-color: grey;
    }

    .container {
        display: grid;
        grid-template-columns: 28vw auto auto auto;
        margin-top: 5px;
    }
    
    .item1 {
        border-right: 1px solid black;
        margin: 1px;
    }

    .item1 ul li {
        text-align: center;
        padding: 5px;
        
    }

    .borders li{
        border: 1px solid black;
    }
    
    .borders #border-top {
        border-top: 0px;
    }

    .borders .border-right{
        border-right: 200px
    }

    .borders li a{
        text-decoration: none;
        color: green;
    }
}

@media screen and (min-width: 400px){
    nav {
        display: inline-block;
        text-align: center;
        padding: 0;
        width: 100vw;
    }
    
    header {
        text-align: center;
    }
    nav ul li {
        display: inline-block;
    }
    nav li{
        text-align: center;
        list-style-type: none;
        color: black;
        text-decoration: none;
    }
    
    nav li a{
        text-decoration: none;
    }

    nav li a:hover{
        color:yellow;
    }

    .container {
        display: grid;
        grid-template-columns: 25vw auto auto auto;
        margin-top: 5px;
    }
}

@media screen and (min-width: 600px){
    nav {
        display: inline-block;
        text-align: center;
        padding: 0;
        width: 100vw;
    }
    
    header {
        text-align: right;
    }
    nav ul li {
        display: inline-block;

    }
    nav ul{
        text-align: center;
    }

    nav li{
        text-align: center;
        list-style-type: none;
        color: black;
        text-decoration: none;
    }
    
    nav li a{
        text-decoration: none;
    }

    nav li a:hover{
        color:yellow;
    }

    .container {
        display: grid;
        grid-template-columns: 20vw auto auto auto;
        margin-top: 5px;
    }
}

@media screen and (min-width: 900px){
    nav {
        display: inline-block;
        text-align: center;
        padding: 0;
        width: 100vw;
    }
    
    header {
        text-align: right;
    }
    nav ul li {
        display: inline-block;

    }
    nav ul{
        text-align: right;
    }

    nav li{
        text-align: center;
        list-style-type: none;
        color: black;
        text-decoration: none;
    }
    
    nav li a{
        text-decoration: none;
    }

    nav li a:hover{
        color:yellow;
    }

    .container {
        display: grid;
        grid-template-columns: 20vw auto auto auto;
        margin-top: 5px;
    }
}